#cuadrado1{
    width: 100px;
    height: 100px;
    background-color: aqua;
}


#cuadrado2{
    width:100px;
    height:100px;
    background-color:violet;
    
}


#cuadrado3{
    width: 100px;
    height: 100px;
    background-color:blue;
}


textarea {
    padding: 8px;
    border: 1px solid #ddd;
    width: 400px;
    min-height: 100px;
}
label{
    display: block;
    font-weight: bold;
}